<html>
    <head>
        <title>The Instabot website</title>
        <link rel="icon" href="https://image.shutterstock.com/image-vector/funny-vector-robot-flat-style-260nw-532218982.jpg">
    </head>
    <style>
        td,th{
        border:red solid 1px;
        }
    </style>
    <body style='margin-left:20%;margin-top: 10%;' >
        <h1>This is the Instabot website...</h1>
        <form  method='post'>
        <label for="url">Enter the url for the upcoming webiste</label><br>
        <input name='url' type="text" id='url' placeholder='Enter Url here' >
        
        <br><label style='color:red' for="url"> put the Reccurring section in {} </label>
        
        <a target="blank" href="https://nairobiwire.com/humour"><h1>https://nairobiwire.com/humour</h1></a>
        <div class="table">
            <table  >
                <tr>
                    <th>Url of the Page</th>
                </tr>
                {%for url in list_of_dtp%}
                <tr>
                    <td>{{url}}</td>
                </tr>
                {%endfor%}
            </table>
            <label for="activator">Activate the bot</label><input type="radio" id='activator' name='activator' value='activator'>
                                                            <input type="radio" name='activator' value='no'>
            <br><br>
            <label for='yes' >Clear the list?</label>
                <label for="yes">yes</label><input   id='yes' value='yes' name='clear' type="radio"  >
                                            <input type="radio" name='clear' value='no'>
                <br><br>
                <input value='submit' name='submit' type="submit">
            </form>
        </div>
        
    </body>
</html>