<html>
    <head>
        <link rel="stylesheet" href="home.css">
        <link rel="icon" href="https://image.shutterstock.com/image-photo/soccer-ball-on-isolated-260nw-535561051.jpg">
        <title>Football updates</title>
    </head>
    <body>
        <h3>Football reports activator</h3> <h2 style='color:greenyellow;' >Bot ACTIVATED</h2>
     {%for caption in captions%}
     <h1>{{caption}}</h1>
     {%endfor%}
            {%for image in images%}
            <img style='width:50%;' src={{image}} alt="">
            
            

            {%endfor%}
        
    <div style='color:red;' class="problems">
            <h2>problems encountered!!!---- </h2>
            <h3>Failure to increase the resolution of the pictures😢</h3>
            <h3>Failure to Detect the post button on instagram accounts</h3>
            <h3>---!!</h3>

    </div>
    </body>
</html>