<html>
    <head>
        <title>The Instabot website</title>

    </head>
    <style>
        td,th{
        border:red solid 1px;
        }
    </style>
    <body style='margin-left:20%;margin-top: 10%;' >
        <h1>This is the Instabot website...</h1>
        <form  method='post'>
        <label for="url">Enter the url for the upcoming webiste</label><br>
        <input name='url' type="text" id='url' placeholder='Enter Url here' >
        
        <br><label style='color:red' for="url"> put the Reccurring section in {} </label>
        
        <h1>https://nairobiwire.com/humour</h1>
        <div class="table">
            <table  >
                <tr>
                    <th>Url of the Page</th>
                </tr>
                {%for url in list_of_dtp%}
                <tr>
                    <td>{{url}}</td>
                </tr>
                {%endfor%}
            </table>
            <h3>Clear the list?</h3>
                <label for="yes">yes</label><input   id='yes' value='yes' name='clear' type="radio"  ><br>
                <input value='submit' name='submit' type="submit">
            </form>
        </div>
        
    </body>
</html>